<div class="content-top clearfix">
  <h1 class="al-title">Users</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pages/search">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
  </ul>
</div>


<div class="widgets">
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </div>

  <div class="col-lg-12">
 <ba-card title="ตารางจัดการผู้ใช้งาน" baCardClass="with-scroll table-panel">
    <div class="horizontal-scroll">
      <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="" (click)="open()">

          <i class="ion-android-person-add"></i>
          </button>
          </div>
        </div>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center"><b>เครื่องมือ</b></th>
            <th style="text-align:center"><b>Username</b></th>
            <th style="text-align:center"><b>ชื่อ-นามสกุล</b></th>
            <th style="text-align:center"><b>ตำแหน่ง</b></th>
            <th style="text-align:center"><b>สถานะ</b></th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataUser">
            <td ngClass="align-right">
              <a (click)="onShow_edit(item.usersId)" class="" data-toggle="modal" data-target=""><i class="ion-edit"></i></a>&nbsp; &nbsp;
              <a (click)="onShow(item.usersId)" data-toggle="modal" data-target=""><i class="ion-trash-a"></i></a>
            </td> 
            <td ngClass="left-side">{{ item.userName }}</td>
            <td ngClass="left-side">{{ item.prefix+" "+item.fName+" "+item.lName }}</td>
            <td ngClass="left-side" *ngIf="item.trId == 0">ผู้ดูแลระบบ</td>
            <td ngClass="left-side" *ngIf="item.trId == 1">เจ้าหน้าที่บริหารงานทั่วไป</td>
            <td ngClass="left-side" *ngIf="item.trId == 2">ฝ่ายปฏิบัติ</td>
            <td ngClass="left-side" *ngIf="item.trId == 3">ฝ่ายวิชาการ</td>
            <td ngClass="left-side" *ngIf="item.trId == 4">ฝ่ายประชาสัมพันธ์</td>
            <td ngClass="left-side" *ngIf="item.trId == 5">ฝ่ายการเงิน</td>
            <td ngClass="left-side" *ngIf="item.trId == 6">สถิติจังหวัด</td>
            <td ngClass="left-side" *ngIf="item.status == 1" style="color: green;">ทำงาน</td>
            <td ngClass="left-side" *ngIf="item.status == 2" style="color: red;">หมดสถานะ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ba-card>
</div>

  <!-- Modal Edit-->

  <modal #myModal_edit>
    <modal-header>
      <h4 class="modal-title">แก้ไขผู้ใช้</h4>
    </modal-header>
    <modal-body>
      <form [formGroup]="form_edit" (ngSubmit)="onUpdate(form_edit.value)" class="form-horizontal">
        <div class="row">
          <div class="form-group col-md-3" [ngClass]="{'has-error': (!prefix_m.valid && prefix_m.touched), 'has-success': (prefix_m.valid && prefix_m.touched)}">
            <label style="color: black;">คำนำหน้า</label>
            <select [formControl]="prefix_m" class="form-control" >
                    <option value=''>-คำนำหน้า-</option>
                    <option *ngFor='let row of dataPrefix' [value]='row.prefixId'>{{row.prefixName}}</option>
            </select>
            <!--<input [formControl]="prefix_m" type="text" class="form-control" placeholder="คำนำหน้า">-->
          </div>
          <div class="form-group col-md-4" [ngClass]="{'has-error': (!fName_m.valid && fName_m.touched), 'has-success': (fName_m.valid && fName_m.touched)}">
            <label style="color: black;">ชื่อ</label>
            <input [formControl]="fName_m" class="form-control" placeholder="" type="text">
          </div>
          <div class="form-group col-md-5" [ngClass]="{'has-error': (!lName_m.valid && lName_m.touched), 'has-success': (lName_m.valid && lName_m.touched)}">
            <label style="color: black;">นามสกุล</label>
            <input [formControl]="lName_m" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label style="color: black;">สถานะ</label>
            <select [formControl]="status_m" class="form-control">
              <option value='1' >ทำงาน</option>
              <option value='2' >หมดสถานะ</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label style="color: black;">ตำแหน่ง</label>
            <select [formControl]="trId_m" class="form-control">
                <option value='0' >ผู้ดูแลระบบ</option>
                <option value='1' >เจ้าหน้าที่บริหารงานทั่วไป</option>
                <option value='2' >ฝ่ายปฏิบัติ</option>
                <option value='3' >ฝ่ายวิชาการ</option>
                <option value='4' >ฝ่ายประชาสัมพันธ์</option>
                <option value='5' >ฝ่ายการเงิน</option>
                <option value='6' >สถิติจังหวัด</option>
            </select>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (!userName_m.valid && userName_m.touched), 'has-success': (userName_m.valid && userName_m.touched)}">
          <label class="col-sm-2 control-label" style="color: black;">Username</label>
          <div class="col-sm-10">
            <input [formControl]="userName_m" class="form-control" placeholder="" type="text" maxlength="7">
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (!password_m.valid && password_m.touched), 'has-success': (password_m.valid && password_m.touched)}">
          <label class="col-sm-2 control-label" style="color: black;">Password</label>
          <div class="col-sm-10">
            <input [formControl]="password_m" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input [formControl]="usersId_m" class="form-control" placeholder="" type="hidden">
            </div>
          </div>
        </div>

        <hr>
        <div class="form-group row">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          </div>
          <div class="col-sm-2">
            <button [disabled]="!form_edit.valid" type="submit" class="btn btn-primary" (click)="close()">บันทึก</button>
          </div>

        </div>
      </form>
    </modal-body>
  </modal>

  <!-- Modal Add-->

  <modal #myModal>
    <modal-header>
      <h4 class="modal-title">เพิ่มผู้ใช้</h4>
    </modal-header>
    <modal-body>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-4" [ngClass]="{'has-error': (!newPrefix.valid && newPrefix.touched), 'has-success': (newPrefix.valid && newPrefix.touched)}" >
              <div class="input-group">
               <label style="color: black;">คำนำหน้า</label>
                <select [hidden] = "addPrefixShow" [formControl]="prefix" class="form-control" [required]="!addPrefixShow">
                    <option value=''>-คำนำหน้า-</option>
                    <option *ngFor='let row of dataPrefix' [value]='row.prefixId'>{{row.prefixName}}</option>
                </select>
                <input [hidden] = "!addPrefixShow" [formControl]="newPrefix" type="text" class="form-control"  placeholder="คำนำหน้า" [required]="addPrefixShow">
                <span class="input-group-btn">
                  <button [hidden] = "addPrefixShow" style="margin-top: 85%;" class="btn btn-success btn-icon" type="button" (click)="addPrefixShow = !addPrefixShow" ><i class="ion-plus-round"></i></button>
                  <button [hidden] = "!addPrefixShow" style="margin-top: 85%;" class="btn btn-danger btn-icon" type="button" (click)="addPrefixShow = !addPrefixShow" ><i class="ion-close-round"></i></button>
                </span>
                
                </div>
              </div>
              <div class="form-group col-md-4" [ngClass]="{'has-error': (!fName.valid && fName.touched), 'has-success': (fName.valid && fName.touched)}">
                <label class="control-label" style="color: black;">ชื่อ</label>
                <input [formControl]="fName" type="text" class="form-control"  placeholder="ชื่อ">
              </div>
              <div class="form-group col-md-4" [ngClass]="{'has-error': (!lName.valid && lName.touched), 'has-success': (lName.valid && lName.touched)}">
                <label class="control-label" style="color: black;">นามสกุล</label>
                <input [formControl]="lName" type="text" class="form-control"  placeholder="นามสกุล">
              </div>
        </div>

        <!--<div class="form-group row" [ngClass]="{'has-error': (!fName.valid && fName.touched), 'has-success': (fName.valid && fName.touched)}">
            <label class="col-sm-2 control-label" style="color: black;">Firstname</label>
            <div class="col-sm-10">
              <input [formControl]="fName" type="text" class="form-control"  placeholder="Full Name">
            </div>
          </div>-->

        <!--<div class="form-group row" [ngClass]="{'has-error': (!lName.valid && lName.touched), 'has-success': (lName.valid && lName.touched)}">
            <label class="col-sm-2 control-label" style="color: black;">Lastname</label>
            <div class="col-sm-10">
              <input [formControl]="lName" type="text" class="form-control"  placeholder="Full Name">
            </div>
          </div>-->

        <div class="form-group row">
          <label class="col-sm-3 control-label" style="color: black;">ตำแหน่ง</label>
          <div class="col-sm-9">
            <select [formControl]="trId" class="form-control">
                <option value='0' >ผู้ดูแลระบบ</option>
                <option value='1' >เจ้าหน้าที่บริหารงานทั่วไป</option>
                <option value='2' >ฝ่ายปฏิบัติ</option>
                <option value='3' >ฝ่ายวิชาการ</option>
                <option value='4' >ฝ่ายประชาสัมพันธ์</option>
                <option value='5' >ฝ่ายการเงิน</option>
                <option value='6' >สถิติจังหวัด</option>
              </select>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (!userName.valid && userName.touched), 'has-success': (userName.valid && userName.touched)}">
          <label class="col-sm-3 control-label" style="color: black;">Username</label>
          <div class="col-sm-9">
            <input [formControl]="userName" type="text" class="form-control" placeholder="Username" maxlength="7">
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <label class="col-sm-3 control-label" style="color: black;">Password</label>
          <div class="col-sm-9">
            <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
          <label class="col-sm-3 control-label" style="color: black;">Confirm Password</label>
          <div class="col-sm-9">
            <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password">
            <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text" style="color: darkred;">Passwords don't match.</span>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          </div>
          <div class="col-sm-2">
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-auth" (click)="close()">บันทึก</button>
          </div>
        </div>
      </form>
    </modal-body>
  </modal>

  <!-- Modal Delect-->

  <modal #myModal_del>
    <modal-header>
      <h4 class="modal-title">ลบผู้ใช้</h4>
    </modal-header>
    <modal-body>
      <form [formGroup]="form_edit" (ngSubmit)="onDel(usersId_m.value)" class="form-horizontal">

        <div class="row">
           <div class="form-group col-md-4">
                <label style="color: black; font-size:100%;">คำนำหน้า: </label>
                <label style="color: black; font-size:100%;">{{prefix_m.value}}</label>
           </div>
           <div class="form-group col-md-4">
                  <label style="color: black; font-size:100%;">ชื่อ: </label>
                  <label style="color: black; font-size:100%;">{{fName_m.value}}</label>
           </div>
             <div class="form-group col-md-4">
                  <label style="color: black; font-size:100%;">นามสกุล: </label>
                  <label style="color: black; font-size:100%;">{{lName_m.value}}</label>
           </div>
        </div> 
        <div class="row">
           <div class="form-group col-md-4">
                <label style="color: black; font-size:100%;">Username :  </label>
                  <label style="color: black; font-size:100%;">{{userName_m.value}}</label>
           </div>
            <div class="form-group col-md-5">
                  <label style="color: black; font-size:100%;">Password :  </label>
                  <label style="color: black; font-size:100%;">{{password_m.value}}</label>
           </div>
           <div class="col-md-2">
                  <input [formControl]="usersId_m" class="form-control" placeholder="" type="hidden">
          </div>
        </div> 
        <hr>
        <div class="form-group row">
          <div class="col-sm-8">
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
            <div class="col-sm-2">
               <button type="submit" class="btn btn-primary" (click)="close()" [disabled]="usersId_m.value == 1">ยืนยัน</button>
            </div>
        </div>
      </form>
    </modal-body>
  </modal>

</div>