<div class="row ">
  <div class="col-md-12">
    <!--{{ fliter | json }}-->
    <form [formGroup]="form">

      <div class="row" [hidden] = "_show == true">
        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1"> เลขผู้ประกอบการ</label>
            <input [formControl]="searchNumber" type='text' class="form-control" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1"> ชื่อสถานประกอบการ/เจ้าของ</label>
            <input [formControl]="searchName" type='text' class="form-control" >
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1"> ผลการนับจด</label>
            <select [formControl]="searchStatus" class="form-control form-control-rounded" >
              <option value='0' >--เลือกผลการนับจด--</option>
              <option *ngFor='let row of dataStatus | async' [value]='row.statusId'> {{row.statusId}} : {{row.sName}}</option>            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="exampleSelect1"> ปี</label>
            <input [formControl]="year" type='text' class="form-control form-control-rounded" placeholder="พ.ศ." minlength="4" maxlength="4">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label for="exampleSelect1"> ภาค</label>
            <select [formControl]="region" class="form-control form-control-rounded" (change)='selectRegion()'>
              <option value='0' >--กรุณาเลือกภาค--</option>
              <option *ngFor='let row of dataRegion' [value]='row.regionCode'>{{row.regionCode}} : {{row.regionName}}</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1">จังหวัด</label>
            <select [formControl]="province" class="form-control form-control-rounded" (change)='selectDistrict()'>
              <option value='0' >--กรุณาเลือกจังหวัด--</option>
              <option *ngFor='let row of dataProvince' [value]='row.provinceCode'>{{row.provinceCode}} : {{row.provinceName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1">อำเภอ</label>
            <select [formControl]="district" class="form-control form-control-rounded" (change)='selectCanton()'>
              <option value='0'>--กรุณาเลือกอำเภอ--</option>
              <option *ngFor='let row of dataDistrict' [value]='row.districtCode'>{{row.districtCode}} : {{row.districtName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <label for="exampleSelect1">ตำบล</label>
            <select [formControl]="canton" class="form-control form-control-rounded" id="exampleSelect1" >
              <option value='0'>--กรุณาเลือกตำบล--</option>
              <option *ngFor='let row of dataCanton' 
                        [value]='row.cantonCode'>
                        {{row.cantonCode}} : {{row.cantonName}}
                </option>
            </select>
          </div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="input-demo radio-demo row">
          <div class="col-md-2">
            <label class="radio-inline custom-radio nowrap">
               <input [formControl]="areatype"  type="radio" name="inlineRadioOptions"  value=1>
               <span>ในเขตเทศบาล</span>
             </label>
          </div>
          <div class="col-md-2">
            <label class="radio-inline custom-radio nowrap">
               <input [formControl]="areatype"  type="radio" name="inlineRadioOptions" value=2>
               <span>นอกเขตเทศบาล</span>
             </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <div class="input-group">
              <label for="exampleSelect1">ชื่อเทศบาล/อบต</label>
              <select [formControl]="area" class="form-control form-control-rounded" (change)='selectVillage()'>
              <option value='0'>--กรุณาเลือกเทศบาล/อบต--</option>
              <option *ngFor='let row of dataArea' [value]='row.areaCode'>{{row.areaCode}} : {{row.areaName}}</option>
            </select>
              <span class="input-group-btn">
              <button *ngIf="permission > 2" [hidden] = "_show == false" style="margin-top: 45%;" class="btn btn-success btn-icon" type="button" [disabled]="canton.value == 0 || areatype.value == 0 " (click)="myModal.open()" ><i class="ion-plus-round"></i></button>
            </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label for="exampleSelect1">เขตแจ้งนับ</label>
            <select [formControl]="ea" class="form-control form-control-rounded">
              <option value='0'>-รหัส EA-</option>
              <option *ngFor='let row of dataVillage' [value]='row.EACode'>{{row.EACode}}</option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-6">
            <div class="input-group">
              <label for="exampleSelect1">หมู่ที่</label>
              <input style="color: #666666;" [formControl]="village" class="form-control form-control-rounded" readonly>
              <span class="input-group-btn">
                <button *ngIf="permission > 2" [hidden] = "_show == false" style="margin-top: 45%;" class="btn btn-success btn-icon" type="button" [disabled]="area.value == 0"  (click)="myModal1.open()"><i class="ion-plus-round"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--modal add area-->

<modal #myModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">เพิ่มเขตการปกครอง</h4>
  </modal-header>
  <modal-body>
    <form [formGroup]="formAddArea" (ngSubmit)="onSubmitArea()" class="form-horizontal">

      <div class="form-group row">
        <label class="col-sm-3 control-label" style="color: black;">หมายเลขเขตปกครอง</label>

        <div class="col-sm-9">
          <input [formControl]="newAreaNum" type="text" class="form-control form-control-rounded">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label" style="color: black;">ชื่อเขตปกครอง</label>
        <div class="col-sm-9">
          <input [formControl]="newAreaName" type="text" class="form-control form-control-rounded">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8">
          <span [hidden]="validateArea" class="help-block sub-little-text" style="color: darkred;">{{errorMessage}}</span>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-primary btn-auth" >บันทึก</button>
        </div>
        
      </div>

      
    </form>
  </modal-body>
</modal>

<modal #myModal1>
  <modal-header [show-close]="true">
    <h4 class="modal-title">เพิ่มเขตแจ้งนับ</h4>
  </modal-header>
  <modal-body>
    
    <form [formGroup]="formAddVillage" (ngSubmit)="onSubmitVillage()" class="form-horizontal">

      <div class="form-group row">
        <label class="col-sm-3 control-label" style="color: black;">หมายเลขเขตแจ้งนับ</label>

        <div class="col-sm-9">
          <input [formControl]="newVillageEA" type="text" class="form-control form-control-rounded">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label" style="color: black;">หมู่ที่</label>

        <div class="col-sm-9">
          <input [formControl]="newVillageNum" type="text" class="form-control form-control-rounded">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 control-label" style="color: black;">ชื่อหมู่บ้าน</label>

        <div class="col-sm-9">
          <input [formControl]="newVillageName" type="text" class="form-control form-control-rounded">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8">
          <span [hidden]="validateVillage" class="help-block sub-little-text" style="color: darkred;">{{errorMessage}}</span>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-primary btn-auth" >บันทึก</button>
        </div>
      </div>
      
    </form>
  </modal-body>
</modal>

<!--modal add village-->