<div class="content-top clearfix">
  <h1 class="al-title">Summary</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pages/search">Home</a></li>
    <li class="breadcrumb-item active">Summary</li>
  </ul>
</div>
<div class="row">
    <div class="col-md-2 ">
      <ba-card title="ปี " baCardClass="with-scroll">
          <form [formGroup]="formReport">
            <select *ngIf="toggle == false" [formControl]="select_year" class="form-control" (change)='getTableActivity()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allYear' [value]=row.year>{{row.year}}</option>
            </select>
            <select *ngIf="toggle" [formControl]="select_year" class="form-control" (change)='getTableStatus()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allYear' [value]=row.year>{{row.year}}</option>
            </select>
          </form>
      </ba-card>
    </div>

    <div class="col-md-2 ">
      <ba-card title="ปี " baCardClass="with-scroll">
          <form [formGroup]="formReport">
            <select *ngIf="toggle == false" [formControl]="select_year_to" class="form-control" (change)='getTableActivity()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allYear' [value]=row.year>{{row.year}}</option>
            </select>
            <select *ngIf="toggle" [formControl]="select_year_to" class="form-control" (change)='getTableStatus()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allYear' [value]=row.year>{{row.year}}</option>
            </select>
          </form>
      </ba-card>
    </div>

    <div class="col-md-2">
      <ba-card title="จังหวัด" baCardClass="with-scroll">
          <form [formGroup]="formReport">
            <select *ngIf="toggle == false" [formControl]="select_province" class="form-control" (change)='getTableActivity()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allProvince' [value]=row.province>{{row.name}}</option>
            </select>
            <select *ngIf="toggle" [formControl]="select_province" class="form-control" (change)='getTableStatus()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allProvince' [value]=row.province>{{row.name}}</option>
            </select>
          </form>
      </ba-card>
    </div>

    <div class="col-md-3">
      <ba-card title="อำเภอ" baCardClass="with-scroll">
          <form [formGroup]="formReport">
            <select [formControl]="select_district" class="form-control" (change)='getCanton()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option value='0' >--ทั้งหมด--</option>
              <option *ngFor='let row of allDistrict' [value]=row.district>{{row.name}}</option>
            </select>
          </form>
      </ba-card>
    </div>

    <div class="col-md-3">
      <ba-card title="ตำบล" baCardClass="with-scroll">
          <form [formGroup]="formReport">
            <select *ngIf="toggle == false" [formControl]="select_canton" class="form-control" (change)='getTableActivity()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option value='0' >--ทั้งหมด--</option>
              <option *ngFor='let row of allCanton' [value]=row.canton>{{row.name}}</option>
            </select>
            <select *ngIf="toggle" [formControl]="select_canton" class="form-control" (change)='getTableStatus()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option value='0' >--ทั้งหมด--</option>
              <option *ngFor='let row of allCanton' [value]=row.canton>{{row.name}}</option>
            </select>
          </form>
      </ba-card>
    </div>
  </div>

 <div *ngFor="let alert of alerts">
    <div *ngIf="checkToggle == 1">
      <alert [type]="alert.type">ผลรวมประเภทกิจกรรม จังหวัด <strong>{{alert.pName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert>
    </div>  
    <div *ngIf="checkToggle == 2"> 
      <alert [type]="alert.type">ผลรวมประเภทกิจกรรม จังหวัด <strong>{{alert.pName}}</strong> อำเภอ <strong>{{alert.dName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert> 
    </div>
    <div *ngIf="checkToggle == 3">
      <alert [type]="alert.type">ผลรวมประเภทกิจกรรม จังหวัด <strong>{{alert.pName}}</strong> อำเภอ <strong>{{alert.dName}}</strong> ตำบล <strong>{{alert.cName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert> 
    </div>  
    <div *ngIf="checkToggle == 4"> 
      <alert [type]="alert.type">ผลรวมการนับจด จังหวัด <strong>{{alert.pName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert>
    </div>
    <div *ngIf="checkToggle == 5">
      <alert [type]="alert.type">ผลรวมการนับจด จังหวัด <strong>{{alert.pName}}</strong> อำเภอ <strong>{{alert.dName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert> 
    </div>  
    <div *ngIf="checkToggle == 6"> 
      <alert [type]="alert.type">ผลรวมการนับจด จังหวัด <strong>{{alert.pName}}</strong> อำเภอ <strong>{{alert.dName}}</strong> ตำบล <strong>{{alert.cName}}</strong> ปี <strong>{{select_year.value}}</strong> เท่ากับ <strong>{{ alert.status }}</strong> และ ปี <strong>{{select_year_to.value}}</strong> เท่ากับ <strong>{{ alert.StatusLastYear }}</strong></alert> 
    </div>
 </div>

<div class="row">
  <div class="col-lg-12">
    <ba-card baCardClass="with-scroll table-panel">
      <div class="horizontal-scroll">
        <div class="row">
          <div class="col-md-10">
            <h4 *ngIf="toggle" style = "font-weight: 400; font-size: 16px; text-transform: uppercase; opacity: 0.9; color: #666666;">ตารางสถิติผลการนับจด</h4>
            <h4 *ngIf="toggle == false" style = "font-weight: 400; font-size: 16px; text-transform: uppercase; opacity: 0.9; color: #666666;" >ตารางสถิติประเภทกิจกรรม</h4>
          </div>
          <div class="col-md-2">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
            <button *ngIf="toggle == false" class="btn btn-primary" (click)="randomize()"><i class="ion-arrow-swap"></i> &nbsp;ผลรวมการนับจด</button>
             <button *ngIf="toggle" class="btn btn-primary" (click)="randomize()"><i class="ion-arrow-swap"></i> &nbsp;ประเภทกิจกรรม</button>
          </div>
        </div>
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th rowspan="2" style="text-align:center"><b>ลำดับ</b></th>
              <th rowspan="2" style="text-align:center"><b>ประเภท</b></th>
              <th colspan="2" style="text-align:center"><b>{{select_year.value}}</b></th>
              <th colspan="2" style="text-align:center"><b>{{select_year_to.value}}</b></th>
              <th rowspan="2" style="text-align:center"><b>เปรียบเทียบ(ร้อยละ)</b></th>
            </tr>
            <tr>
              <th style="text-align:center"><b>จำนวน</b></th>
              <th style="text-align:center"><b>ร้อยละ</b></th>
              <th style="text-align:center"><b>จำนวน</b></th>
              <th style="text-align:center"><b>ร้อยละ</b></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataStatistics let i = index">
              <td ngClass="align-right">{{ i+1 }}</td>
              <td ngClass="left-side">{{ item.aName }}</td>
              <td style="text-align:center">{{ item.num2 }}</td>
              <td style="text-align:right">{{ item.percen2 }}</td>
              <td style="text-align:center">{{ item.num1 }}</td>
              <td style="text-align:right">{{ item.percen1 }}</td>
              <td style="text-align:right;color: red;" *ngIf="item.total < 0 "><i class="ion-arrow-down-b"></i>&nbsp;{{item.total }} </td>
              <td style="text-align:right;color: green;" *ngIf="item.total > 0"><i class="ion-arrow-up-b"></i>&nbsp;{{item.total }} </td>
              <td style="text-align:right" *ngIf="item.total == 0"><i class="ion-arrow-swap"></i>&nbsp;{{item.total }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ba-card>
  </div>

</div>

