<div class="content-top clearfix">
  <h1 class="al-title">Report</h1>

  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/pages/search">Home</a></li>
    <li class="breadcrumb-item active">Report</li>
  </ul>
</div>
<section class="chartist">

  <div class="row">
    <div class="col-md-2 ">
      <ba-card title="ปี " baCardClass="with-scroll">

        <div class="col-sm-12">
          <form [formGroup]="formReport">
            <select [formControl]="select_year" class="form-control" (change)='getChart()'>
              <!--<option value='60' selected="selected">-2560-</option>-->
              <option *ngFor='let row of allYear' [value]=row.year>{{'25'+row.year}}</option>
            </select>
          </form>
        </div>


      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <ba-card title="จำนวนผลการนับจดเปรียบเทียบกับปีก่อนหน้า" baCardClass="with-scroll">


        <div>
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </ba-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 ">
      <ba-card title="ร้อยละผลการนับจดปี {{'25'+select_year.value-1}}" baCardClass="with-scroll">
        <div *ngIf="pieChartData2.length > 1" style="display: block">
          <canvas baseChart [data]="pieChartData2" [labels]="barChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
            [colors]="pieChartColours"></canvas>
        </div>
      </ba-card>
    </div>
    <div class="col-md-6 ">
      <ba-card title="ร้อยละผลการนับจดปี {{'25'+select_year.value}}" baCardClass="with-scroll">
        <div *ngIf="pieChartData1.length > 1" style="display: block">
          <canvas baseChart [data]="pieChartData1" [labels]="barChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
            [colors]="pieChartColours"></canvas>
        </div>
      </ba-card>
    </div>

  </div>
</section>