<div class="content-top clearfix">
    <h1 class="al-title">Search</h1>

    <ul class="breadcrumb al-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pages/search">Home</a></li>
        <li class="breadcrumb-item active">Search</li>
    </ul>
</div>

<div class="widgets" style="max-height: 200%;">
    <form [formGroup]="myForm">
        <div class="row show-grid">
            <div class="col-md-6 offset-md-3">
                <ba-card title="" baCardClass="with-scroll">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <i class="ion-search" style="font-size:150px ;"></i>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="input-group">
                        <input [formControl]="keyWord" type="text" class="form-control with-danger-addon" placeholder="Search for..." [disabled]="">
                        <span class="input-group-btn">
                          <!--<button class="btn btn-danger" type="submit" [disabled]="!myForm.valid">Go!</button>-->
                          <button class="btn btn-danger" type="" (click)="onSearch()" [disabled]="!isCollapsed" >Go!</button>
                          <button type="button" class="btn btn-primary"
                            (click)="isCollapsed = !isCollapsed" ><i class="ion-chevron-down"></i>
                          </button>
                      </span>
                    </div>
                    <!--<div *ngIf="keyWord.errors">
  <small *ngIf="keyWord.errors.pattern">13 หลัก</small>
</div>-->
                </ba-card>
            </div>
        </div>
        <div [hidden]="isCollapsed" class="col-md-12">
            <ba-card title="ค้นหาขั้นสูง" baCardClass="with-scroll table-panel">
                <fliter [formControl]="fliterSearch" [fliter]="getFliter" [validateOption]=false [show]=false></fliter>
                <div class="row">
                    <div class="col-md-11">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" type="" (click)="ADBVsearch(getFliter)">Go!</button>
                    </div>
                </div>
            </ba-card>
        </div>
    </form>

    <div class="col-lg-12">
        <div class='row' style="margin-bottom: 2%;">
            <div class="col-md-1 offset-md-11">
                <button class="btn btn-primary" (click)='OnInsert()'>Add</button>
            </div>
        </div>

        <ba-card title="ผลการค้นหา" baCardClass="with-scroll table-panel">
            <!--{{ getFliter | json }}-->
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
            <div class="vertical-scroll">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center"><b>ลำดับ</b></th>
                            <th style="text-align:center"><b>เลขสถานประกอบการ</b></th>
                            <th style="text-align:center"><b>ชื่อสถานประกอบการ</b></th>
                            <th style="text-align:center"><b>ที่อยู่</b></th>
                            <th style="text-align:center"><b>รหัส/ประเภทกิจกรรม</b></th>
                            <th style="text-align:center"><b>ผลการนับจด</b></th>
                            <th style="text-align:center"><b>รายละเอียด</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataUser let i = index">
                            <td style="text-align:center">{{ i+1 }}</td>
                            <td style="text-align:center">{{ item.censusCode }}</td>
                            <td class="left-side">{{ item.comName || item.titleName + " " + item.fName + " " + item.lName }}</td>
                            <td class="left-side">{{ item.aNum + " ซ. " + item.alley + " ถ. " + item.road + " หมู่บ้าน " + item.place }}</td>
                            <td class="left-side">{{  item.tsic + " : " + item.tsName }}</td>
                            <td style="text-align:center">{{  item.statusId  }}</td>
                            <td style="text-align:center"><label style="color: green;">{{  item.dateupdate }}</label>
                                <a (click)="OnUpdated(item.censusCode)"><i class="ion-arrow-right-a"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ba-card>
    </div>
</div>