<div class="content-top clearfix">
    <h1 class="al-title">{{baTop}}</h1>

    <ul class="breadcrumb al-breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pages/search">Home</a></li>
        <li class="breadcrumb-item active">{{baTop}}</li>
    </ul>
</div>
<div class="widgets">
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="onsubmit(form.value)">
            <div class="col-md-10 offset-md-1">

                <ba-card title="กรองข้อมูล" baCardClass="with-scroll">
                    <fliter [formControl]="fliter" [fliter]="getFliter" [validateOption]="getValidate" [show]=true></fliter>
                </ba-card>

                <ba-card title={{topicName}} baCardClass="with-scroll">
                    <!--{{ getFliter | json }}-->
                    <div class="col-md-12">
                        <!--Row 1-->
                        <div class="row">
                            <h4 style="margin-bottom: 3%;">สถานที่ตั้ง</h4>
                            <!--A2-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!road.valid && road.touched), 'has-success': (road.valid && road.touched)}">
                                    <label>ชื่อถนน</label>
                                    <input [formControl]="road" class="form-control form-control-rounded" type="text" maxlength="100">
                                </div>
                            </div>
                            <!--A3-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!alley.valid && alley.touched), 'has-success': (alley.valid && alley.touched)}">
                                    <label>ตรอก/ซอย</label>
                                    <input [formControl]="alley" class="form-control form-control-rounded" type="text" maxlength="100">
                                </div>
                            </div>
                            <!--A4-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!place.valid && place.touched), 'has-success': (place.valid && place.touched)}">
                                    <label>ชื่ออาคาร/สถานที่</label>
                                    <input [formControl]="place" class="form-control form-control-rounded" type="text" maxlength="255">
                                </div>
                            </div>
                            <!--A5-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!aNum.valid && aNum.touched), 'has-success': (aNum.valid && aNum.touched)}">
                                    <label>เลขที่อาคาร/บ้านเลขที่</label>
                                    <input [formControl]="aNum" class="form-control form-control-rounded" type="text" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--Row 2-->
                        <div class="row">
                            <!--A6-->
                            <h4 style="margin-bottom: 3%;">ชื่อสถานประกอบการ/เจ้าของสถานประกอบการ</h4>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!tName.valid && tName.touched), 'has-success': (tName.valid && tName.touched)}">
                                    <label>คำนำหน้าชื่อ/บริษัท</label>
                                    <input [formControl]="tName" class="form-control form-control-rounded" type="text" maxlength="50">
                                </div>
                            </div>
                            <!--A7-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (names.invalid && !fName.valid && fName.touched), 'has-success': (names.valid && fName.valid && fName.touched)}">
                                    <label>ชื่อ</label>
                                    <input [formControl]="fName" class="form-control form-control-rounded" type="text" maxlength="50">
                                </div>
                            </div>
                            <!--A8-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (names.invalid && !lName.valid && lName.touched), 'has-success': (names.valid && lName.valid && lName.touched)}">
                                    <label>นามสกุล</label>
                                    <input [formControl]="lName" class="form-control form-control-rounded" type="text" maxlength="50">
                                </div>
                            </div>
                            <!--A9-->
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (names.invalid && !facName.valid && facName.touched), 'has-success': (names.valid && facName.valid && facName.touched)}">
                                    <label>ชื่อสถานประกอบการ</label>
                                    <input [formControl]="facName" class="form-control form-control-rounded" (change)="disabledFLName()" type="text" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--Row 3-->
                        <div class="row">
                            <!--A10-->
                            <div class="col-md-4">
                                <div class="form-group" [ngClass]="{'has-error': (!status.valid && status.touched), 'has-success': (status.valid && status.touched)}">
                                    <label>ผลการนับจด</label>
                                    <select [formControl]="status" class="form-control form-control-rounded">
                                        <option value=0>--กรุณาเลือกผลการนับจด--</option>
                                        <option *ngFor='let row of getStatus | async' [value]='row.statusId'> {{row.statusId}} : {{row.sName}}</option>
                                     </select>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="status.value == 8">
                                <div class="form-group" [ngClass]="{'has-error': (!otherStatus.valid && otherStatus.touched), 'has-success': (otherStatus.valid && otherStatus.touched)}">
                                    <label>ผลการนับจดอื่น ๆ</label>
                                    <input [formControl]="otherStatus" class="form-control form-control-rounded" type="text" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="status.value < 3 && status.value > 0">
                            <!--Row 4-->
                            <div class="row">
                                <!--A11-->
                                <div class="col-md-6">
                                    <div class="form-group" [ngClass]="{'has-error': (!ecoActivity.valid && ecoActivity.touched), 'has-success': (ecoActivity.valid && ecoActivity.touched)}">
                                        <label>กิจกรรมทางเศรษฐกิจ</label>
                                        <select [formControl]="ecoActivity" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกกิจกรรมทางเศรษฐกิจ--</option>
                                            <option *ngFor='let row of getActivity | async' [value]='row.activityId'> {{row.activityId}} : {{row.aName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--A12-->
                                <div class="col-md-4">
                                    <div class="form-group" [ngClass]="{'has-error': (!typeActivity.valid && typeActivity.touched), 'has-success': (typeActivity.valid && typeActivity.touched)}">
                                        <label>ประเภทกิจกรรม</label>
                                        <input [formControl]="typeActivity" class="form-control form-control-rounded" type="text" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="status.value < 2 && status.value > 0">
                            <!--Row 5-->
                            <div class="row">
                                <!--A13-->
                                <div class="col-md-5">
                                    <div class="form-group" [ngClass]="{'has-error': (!formatLaw.valid && formatLaw.touched), 'has-success': (formatLaw.valid && formatLaw.touched)}">
                                        <label>รูปแบบการจัดตั้งตามกฎหมาย</label>
                                        <select [formControl]="formatLaw" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกรูปแบบการจัดตั้งตามกฎหมาย--</option>
                                             <option *ngFor='let row of getFormatLaw | async' [value]='row.flId'> {{row.flId}} : {{row.flName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--A13.1-->
                                <div class="col-md-3" *ngIf="formatLaw.value == 9">
                                    <label>ระบุ</label>
                                    <div class="form-group" [ngClass]="{'has-error': (!otherFormatLaw.valid && otherFormatLaw.touched), 'has-success': (otherFormatLaw.valid && otherFormatLaw.touched)}">
                                        <input [formControl]="otherFormatLaw" class="form-control form-control-rounded" type="text" maxlength="50">
                                    </div>
                                </div>
                                <!--A15-->
                                <div class="col-md-5" *ngIf="formatLaw.value == 1">
                                    <div class="form-group" [ngClass]="{'has-error': (!regisType.valid && regisType.touched), 'has-success': (regisType.valid && regisType.touched)}">
                                        <label>การจดทะเบียนพานิชย์</label>
                                        <select [formControl]="regisType" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกรูปแบบการจดทะเบียนพานิชย์--</option>
                                            <option value=1>1 : จด</option>
                                            <option value=2>2 : ไม่จด</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Row 6-->
                            <div class="row">
                                <!--A14-->
                                <div class="col-md-5">
                                    <div class="form-group" [ngClass]="{'has-error': (!formatEconomy.valid && formatEconomy.touched), 'has-success': (formatEconomy.valid && formatEconomy.touched)}">
                                        <label>รูปแบบการจัดตั้งทางเศรษฐกิจ</label>
                                        <select [formControl]="formatEconomy" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกรูปแบบการจัดตั้งทางเศรษฐกิจ--</option>
                                            <option *ngFor='let row of getFormatEconomy | async' [value]='row.feId'> {{row.feId}} : {{row.feName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--A14.1-->
                                <div class="col-md-3" *ngIf="formatEconomy.value == 4">
                                    <label>ระบุ</label>
                                    <div class="form-group" [ngClass]="{'has-error': (!otherFormatEconomy.valid && otherFormatEconomy.touched), 'has-success': (otherFormatEconomy.valid && otherFormatEconomy.touched)}">
                                        <input [formControl]="otherFormatEconomy" class="form-control form-control-rounded" type="text" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <!--Row7-->
                            <div class="row" *ngIf="formatLaw.value < 4 && formatLaw.value != 0">
                                <!--A16-->
                                <div class="col-md-4">
                                    <div class="form-group" [ngClass]="{'has-error': (!personalId.valid && personalId.touched), 'has-success': (personalId.valid && personalId.touched)}">
                                        <label>เลขบัตรประจำตัวประชาชน/เลขทะเบียนนิติบุคคล</label>
                                        <input [formControl]="personalId" class="form-control form-control-rounded" type="text" maxlength="13">
                                    </div>
                                </div>
                                <!--A17-->
                                <div class="col-md-4" *ngIf="formatLaw.value == 3">
                                    <div class="form-group" [ngClass]="{'has-error': (!nationPartner.valid && nationPartner.touched), 'has-success': (nationPartner.valid && nationPartner.touched)}">
                                        <label>การมีต่างประเทศร่วมลงทุนหรือถือหุ้น</label>
                                        <select [formControl]="nationPartner" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเปอร์เซ็นต์--</option>
                                            <option value=1>1 : น้อยกว่า 10%</option>
                                            <option value=2>2 : 10% - 50%</option>
                                            <option value=3>3 : มากกว่า 50%</option>
                                            <option value=4>4 : ไม่มี</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Row 8-->
                            <div class="row">
                                <!--A18-->
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!aboutWorker.valid || !totalWorkers.valid && totalWorkers.touched), 'has-success': (aboutWorker.valid || totalWorkers.valid && totalWorkers.touched)}">
                                        <label>จำนวนคนทำงาน (ทั้งสิ้น)</label>
                                        <input [formControl]="totalWorkers" class="form-control form-control-rounded" type="number" min="0" max="99999">
                                    </div>
                                </div>
                                <!--A19-->
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!aboutWorker.valid || !workers.valid && workers.touched), 'has-success': (aboutWorker.valid || workers.valid && workers.touched)}">
                                        <label>จำนวนคนทำงาน (ลูกจ้าง)</label>
                                        <input [formControl]="workers" class="form-control form-control-rounded" type="number" min="0" max="99999">
                                    </div>
                                </div>
                                <!--A20-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ระยะเวลาดำเนินกิจการ (ปี)</label>
                                        <input [formControl]="yearActivity" class="form-control form-control-rounded" type="number" min="0" max="999">
                                    </div>
                                </div>
                                <!--A24-->
                                <div class="col-md-3" *ngIf="ecoActivity.value == 16">
                                    <div class="form-group">
                                        <label>จำนวนเตียงของโรงพยาบาลเอกชน</label>
                                        <input [formControl]="hospitalBed" class="form-control form-control-rounded" type="number" min="0" max="9999">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--A25-->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>การใช้คอมพิวเตอร์ในการดำเนินกิจการ</label>
                                        <select [formControl]="useComputer" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกการใช้คอมพิวเตอร์--</option>
                                            <option value=1>1 : ใช้ที่สถานประกอบการ</option>
                                            <option value=2>2 : ใช้ที่อื่น เช่น บ้าน อินเตอร์เน็ตคาเฟ่</option>
                                            <option value=3>3 : ไม่ใช้</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>การใช้อินเทอร์เน็ตในการดำเนินกิจการ</label>
                                        <select [formControl]="useInternet" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกการใช้อินเทอร์เน็ต--</option>
                                            <option value=1>1 : ใช้</option>
                                            <option value=2>2 : ไม่ใช้</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--Row 8-->
                            <div class="row" *ngIf="ecoActivity.value  == 8">
                                <hr>
                                <h4 style="margin-bottom: 3%;">สถานประกอบการที่พักแรม</h4>
                                <!--A21-->
                                <div class="col-md-4">
                                    <div class="form-group" [ngClass]="{'has-error': (!hType.valid && hType.touched), 'has-success': (hType.valid && hType.touched)}">
                                        <label>ลักษณะการการให้บริการที่พักแรม</label>
                                        <select [formControl]="hType" class="form-control form-control-rounded">
                                            <option value=0 selected>--กรุณาเลือกลักษณะการให้บริการ--</option>
                                            <option value=1>1 : เพื่อการท่องเที่ยว</option>
                                            <option value=2>2 : ไม่ใช่เพื่อการท่องเที่ยว</option>
                                        </select>
                                    </div>
                                </div>
                                <!--A22-->
                                <div *ngIf="hType.value == 1">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>จำนวนห้องพัก</label>
                                            <input [formControl]="hRoom" class="form-control form-control-rounded" type="number" min="0" max="9999">
                                        </div>
                                    </div>
                                    <!--A23.1-->
                                    <div class="col-md-3">
                                        <div class="form-group" [ngClass]="{'has-error': (aboutHotels.invalid || !hMinPrice.valid && hMinPrice.touched), 'has-success': (aboutHotels.valid || hMinPrice.valid && hMinPrice.touched)}">
                                            <label>ราคาห้องพักต่อคืน (ต่ำสุด)</label>
                                            <input [formControl]="hMinPrice" class="form-control form-control-rounded" type="number" min="0" max="99999">
                                        </div>
                                    </div>
                                    <!--A23.2-->
                                    <div class="col-md-3">
                                        <div class="form-group" [ngClass]="{'has-error': (aboutHotels.invalid || !hMaxPrice.valid && hMaxPrice.touched), 'has-success': (aboutHotels.valid || hMaxPrice.valid && hMaxPrice.touched)}">
                                            <label>ราคาห้องพักต่อคืน (สูงสุด)</label>
                                            <input [formControl]="hMaxPrice" class="form-control form-control-rounded" type="number" min="0" max="99999">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <h4 style="margin-bottom: 3%;">การขายสินค้าหรือบริการผ่านอินเตอร์เน็ต</h4>
                                <div class="form-group">
                                    <div class="input-demo radio-demo row">
                                        <div class="col-md-2">
                                            <label class="radio-inline custom-radio nowrap">
                                            <input type="radio" [formControl]="useEService" name="inlineRadioOptions" id="inlineRadio1" value=0>
                                            <span>ใช้</span>
                                        </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="radio-inline custom-radio nowrap">
                                            <input type="radio" [formControl]="useEService" name="inlineRadioOptions" id="inlineRadio2" value=1>
                                            <span>5 : ไมใช้</span>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-demo checkbox-demo row">
                                        <ba-checkbox *ngFor="let item of checkboxModel" [(ngModel)]="item.checked" [baCheckboxClass]="item.class" [label]="item.name"
                                            [disabled]="item.disabled" [value]="item.name" id="{{item.id}}" [ngModelOptions]="{standalone: true}">
                                        </ba-checkbox>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!tel.valid && tel.touched), 'has-success': (tel.valid && tel.touched)}">
                                        <label>หมายเลขโทรศัพท์พื้นฐาน</label>
                                        <input [formControl]="tel" class="form-control form-control-rounded" type="text" maxlength="11">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!web.valid && web.touched), 'has-success': (web.valid && web.touched)}">
                                        <label>เว็บไซต์</label>
                                        <input [formControl]="web" class="form-control form-control-rounded" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                                        <label>อีเมล</label>
                                        <input [formControl]="email" class="form-control form-control-rounded" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div *ngIf="ecoActivity.value > 0">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>รหัสประเภทกิจกรรมทางเศรษฐกิจ</label>
                                            <input ngui-auto-complete formControlName="tsicId" [source]="getTSIC" [list-formatter]="autocompleListTSICFormatter" value-property-name="tsic"
                                                display-property-name="tsic" class="form-control form-control-rounded">
                                            <!--<select [formControl]="tsicId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกประเภทกิจกรรมทางเศรษฐกิจ--</option>
                                             <option *ngFor='let row of getTSIC | async' [value]='row.tsic'> {{row.tsic}} : {{row.tsName}}</option>
                                        </select>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="formatEconomy.value == 3">
                                <hr>
                                <h4 style="margin-bottom: 3%;">ชื่อ/สถานที่ตั้งสำนักงานใหญ่</h4>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!mbTitleName.valid && mbTitleName.touched), 'has-success': (mbTitleName.valid && mbTitleName.touched)}">
                                        <label>คำนำหน้านาม</label>
                                        <input [formControl]="mbTitleName" class="form-control form-control-rounded" type="text" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (deptNames.invalid && !mbFName.valid && mbFName.touched), 'has-success': (deptNames.valid && mbFName.valid && mbFName.touched)}">
                                        <label>ชื่อเจ้าของกิจการ</label>
                                        <input [formControl]="mbFName" class="form-control form-control-rounded" type="text" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (deptNames.invalid && !mbLName.valid && mbLName.touched), 'has-success': (deptNames.valid && mbLName.valid && mbLName.touched)}">
                                        <label>นามสกุล</label>
                                        <input [formControl]="mbLName" class="form-control form-control-rounded" type="text" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (deptNames.invalid && !mbDeptName.valid && mbDeptName.touched), 'has-success': (deptNames.valid && mbDeptName.valid && mbDeptName.touched)}">
                                        <label>ชื่อสถานประกอบการ</label>
                                        <input [formControl]="mbDeptName" class="form-control form-control-rounded" type="text" (change)="disabledDFLName()" maxlength="100">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ชื่อถนน</label>
                                        <input [formControl]="mbRoad" class="form-control form-control-rounded" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ตรอก/ซอย</label>
                                        <input [formControl]="mbAlley" class="form-control form-control-rounded" type="text" maxlength="100">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>ชื่ออาคาร/สถานที่</label>
                                        <input [formControl]="mbPlace" class="form-control form-control-rounded" type="text" maxlength="255">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!mbANum.valid && mbANum.touched), 'has-success': (mbANum.valid && mbANum.touched)}">
                                        <label>เลขที่อาคาร/บ้านเลขที่</label>
                                        <input [formControl]="mbANum" class="form-control form-control-rounded" type="text" maxlength="10">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!mbProvince.valid && mbProvince.touched), 'has-success': (mbProvince.valid && mbProvince.touched)}">
                                        <label>จังหวัด</label>
                                        <select [formControl]="mbProvince" class="form-control form-control-rounded">
                                            <option value='0' >--กรุณาเลือกจังหวัด--</option>
                                            <option *ngFor='let row of getProvince | async' [value]='row.provinceCode'>{{row.provinceCode}} : {{row.provinceName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!mbDistrict.valid && mbDistrict.touched), 'has-success': (mbDistrict.valid && mbDistrict.touched)}">
                                        <label>อำเภอ/เขต</label>
                                        <select [formControl]="mbDistrict" class="form-control form-control-rounded">
                                            <option selected="selected" value='0'>--กรุณาเลือกอำเภอ--</option>
                                            <option *ngFor='let row of getDistrict' [value]='row.districtCode'>{{row.districtCode}} : {{row.districtName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" [ngClass]="{'has-error': (!mbCanton.valid && mbCanton.touched), 'has-success': (mbCanton.valid && mbCanton.touched)}">
                                        <label>ตำบล/แขวง</label>
                                        <select [formControl]="mbCanton" class="form-control form-control-rounded">
                                            <option value='0'>--กรุณาเลือกตำบล--</option>
                                            <option *ngFor='let row of getCanton' [value]='row.cantonCode'> {{row.cantonCode}} : {{row.cantonName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>หมายเหตุ</label>
                                        <textarea [formControl]="note" class="form-control form-control-rounded" maxlength="255"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4 style="margin-bottom: 3%;">การอนุมัติ</h4>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!operatorId.valid && operatorId.touched), 'has-success': (operatorId.valid && operatorId.touched)}">
                                    <label>ผู้ปฏิบัติงานเก็บรวบรวมข้อมูล</label>
                                    <input ngui-auto-complete formControlName="operatorId" [source]="getUsers" [list-formatter]="autocompleListFormatter" value-property-name="id"
                                        display-property-name="id" class="form-control form-control-rounded">
                                    <!--<select [formControl]="operatorId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.username'> {{row.username}} : {{row.fullname}}</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!editorialStaffId.valid && editorialStaffId.touched), 'has-success': (editorialStaffId.valid && editorialStaffId.touched)}">
                                    <label>เจ้าหน้าที่บรรณาธิกรและลงรหัส</label>
                                    <input ngui-auto-complete formControlName="editorialStaffId" [source]="getUsers" [list-formatter]="autocompleListFormatter"
                                        value-property-name="id" display-property-name="id" class="form-control form-control-rounded">
                                    <!--<select [formControl]="editorialStaffId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!recorderStaffId.valid && recorderStaffId.touched), 'has-success': (recorderStaffId.valid && recorderStaffId.touched)}">
                                    <label>เจ้าหน้าที่บันทึกข้อมูล</label>
                                    <input ngui-auto-complete formControlName="recorderStaffId" [source]="getUsers" [list-formatter]="autocompleListFormatter"
                                        value-property-name="id" display-property-name="id" class="form-control form-control-rounded">
                                    <!--<select [formControl]="recorderStaffId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!examinerId.valid && examinerId.touched), 'has-success': (examinerId.valid && examinerId.touched)}">
                                    <label>ผู้ตรวจ</label>
                                    <input ngui-auto-complete formControlName="examinerId" [source]="getUsers" [list-formatter]="autocompleListFormatter" value-property-name="id"
                                        display-property-name="id" class="form-control form-control-rounded">
                                    <!--<select [formControl]="examinerId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                                </div>
                            </div>
                            <button [disabled]="!form.valid" class="btn btn-success" type="submit">Send</button>
                        </div>
                    </div>
                </ba-card>

                <!--<ba-card title="การอนุมัติ" baCardClass="with-scroll">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!operatorId.valid && operatorId.touched), 'has-success': (operatorId.valid && operatorId.touched)}">
                                    <label>ผู้ปฏิบัติงานเก็บรวบรวมข้อมูล</label>
                                    <input ngui-auto-complete formControlName="operatorId" [source]="getUsers" [list-formatter]="autocompleListFormatter" value-property-name="id"
                                        display-property-name="id" class="form-control form-control-rounded">-->
                <!--<select [formControl]="operatorId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.username'> {{row.username}} : {{row.fullname}}</option>
                                    </select>-->
                <!--</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!editorialStaffId.valid && editorialStaffId.touched), 'has-success': (editorialStaffId.valid && editorialStaffId.touched)}">
                                    <label>เจ้าหน้าที่บรรณาธิกรและลงรหัส</label>
                                    <input ngui-auto-complete formControlName="editorialStaffId" [source]="getUsers" [list-formatter]="autocompleListFormatter"
                                        value-property-name="id" display-property-name="id" class="form-control form-control-rounded">-->
                <!--<select [formControl]="editorialStaffId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                <!--</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!recorderStaffId.valid && recorderStaffId.touched), 'has-success': (recorderStaffId.valid && recorderStaffId.touched)}">
                                    <label>เจ้าหน้าที่บันทึกข้อมูล</label>
                                    <input ngui-auto-complete formControlName="recorderStaffId" [source]="getUsers" [list-formatter]="autocompleListFormatter"
                                        value-property-name="id" display-property-name="id" class="form-control form-control-rounded">-->
                <!--<select [formControl]="recorderStaffId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                <!--</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{'has-error': (!examinerId.valid && examinerId.touched), 'has-success': (examinerId.valid && examinerId.touched)}">
                                    <label>ผู้ตรวจ</label>
                                    <input ngui-auto-complete formControlName="examinerId" [source]="getUsers" [list-formatter]="autocompleListFormatter" value-property-name="id"
                                        display-property-name="id" class="form-control form-control-rounded">-->
                <!--<select [formControl]="examinerId" class="form-control form-control-rounded">
                                            <option value=0>--กรุณาเลือกเจ้าหน้าที่--</option>
                                            <option *ngFor='let row of getUsers' [value]='row.id'> {{row.id}} : {{row.name}}</option>
                                    </select>-->
                <!--</div>
                            </div>
                            <button [disabled]='form.invalid' class="btn btn-success" type="submit">Send</button>
                        </div>
                    </div>
                </ba-card>-->
                <div *ngFor="let alert of alerts">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                </div>
            </div>
        </form>
    </div>

</div>