<div class="auth-main">
  <div class="auth-block">
    <h1>Industry Census System</h1>
    <!--<a routerLink="/register" class="auth-link">New to ng2-admin? Sign up!</a>-->

    <form [formGroup]="form" (ngSubmit)="login()" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
        <label class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
          <input [formControl]="username" type="text" class="form-control" placeholder="Username">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
        </div>
      </div>
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" dismissible="true" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
      </div>
    </form>
  </div>
</div>